<html>
       <!-- Phần Header của Website -->
       <head>
        <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG //////////////  -->
        <title>Scada hệ thống giám sát trên internet</title>
        <script src = "js/FC1_Common.js"></script>
        <script src = "js/FC2_Screen_Auto.js"></script>
        <script src = "socket.io/socket.io.js"></script>
        <script src = "js/jquery-3.6.0.min.js"></script>
        <script src = "js/FC3_screen_Report.js"></script>
        <script src = "js/FileSaver.js"></script>
        <script src = "js/FC4_Excel_Export.js"></script>

        <script>
            var socket = io("localhost:3000") // IP tĩnh (hoặc IP động, hoặc localhost)
        </script>
        <!-- ////////////// GỌI CÁC CSS //////////////  -->
        <link rel="stylesheet" href= "CSS/slidebar.css">
        <link rel="stylesheet" href= "CSS/screen_auto.css">
        <link rel="stylesheet" href= "CSS/screen_hand.css">
        <link rel="stylesheet" href= "CSS/screen_Report.css">

    </head>
     <!-- Phần thân của website -->
     <body>
            <!-- ////////////// Code cho slidebar////////////// -->
            <div id = "slidebar">

                <!--Nút chọn màn auto-->
                <button id="btt_Screen_auto" onclick="
                    fn_ScreenChange('screen_auto','Screen_hand','screen_Report');
                    socket.emit('cmd_START_AUTO_HAND', true);
                ">AUTO</button>

                <!--Nút chọn màn hand-->
                <button id="btt_Screen_hand" onclick=" 
                    fn_ScreenChange('Screen_hand','screen_auto','screen_Report');
                    socket.emit('cmd_START_AUTO_HAND', false);
                ">HAND</button> 
                
                <!--Nút chọn màn Report-->
                <button id="btt_Screen_Report" onclick=" 
                    fn_ScreenChange('screen_Report','Screen_hand','screen_auto');
                    fn_Table01_SQL_Show();
                ">Report</button> 

            </div>



                                        <!-- //////////////Code cho màn AUTO////////////// -->
                <!--BACKGROUND SCR_AUTO-->
            <div id = "screen_auto">
          <img src="images/Background_SCR_Auto.png">
              <!--////////////// SYMBOL  //////////////-->
        <img id = "SCR_AUTO_FAN" ><script> fn_SymbolStatus("SCR_AUTO_FAN", "FAN", "RUN_FAN") </script> 
        <img id = "SCR_AUTO_LAMP" ><script> fn_SymbolStatus("SCR_AUTO_LAMP", "LAMP", "RUN_LAMP") </script> 
        <img id = "SCR_AUTO_PUMP_1" ><script> fn_SymbolStatus("SCR_AUTO_PUMP_1", "PUMP", "RUN_PUMP_1") </script> 
        <img id = "SCR_AUTO_PUMP_2" ><script> fn_SymbolStatus("SCR_AUTO_PUMP_2", "PUMP", "RUN_PUMP_2") </script> 
        <img id = "SCR_AUTO_MOTOR_MIX" ><script> fn_SymbolStatus("SCR_AUTO_MOTOR_MIX", "MIX", "RUN_MOTOR_MIX") </script> 
        <img id = "SCR_AUTO_SENSOR" ><script> fn_SymbolStatus("SCR_AUTO_SENSOR", "SENSOR",'SENSOR_LOW') </script> 
        <img id = "SCR_AUTO_SYSTEM" ><script> fn_SymbolStatus("SCR_AUTO_SYSTEM", "SYSTEM",'RUN_SYSTEM') </script> 

              <!--////////////// BUTTON////////////// -->
            <!-- BUTTON START_SYSTEM -->
                    <button id="bttAUTO_START_SYSTEM" onclick= "socket.emit('cmd_START_SYSTEM', true);">START</button>
            <!-- BUTTON STOP_SYSTEM -->
                    <button id="bttAUTO_STOP_SYSTEM" onclick= "socket.emit('cmd_STOP_SYSTEM', true);">STOP</button>

    <!--////////////// HIỂN THI IO FIELD////////////// -->
                 <!-- GIÁ TRỊ NHIỆT ĐỘ THỰC TẾ -->
                 <input id="TEMPERATURE_SCR_AUTO" disabled="disabled" type="text" />
                 <script>fn_IOFieldDataShow("VALUE_TEMPERATURE", "TEMPERATURE_SCR_AUTO", 0)</script>  
              <!-- GIÁ TRỊ ĐỘ ẨM THỰC TẾ -->
                 <input id="AIR_HUMIDITY_SCR_AUTO" disabled="disabled" type="text" />
                 <script>fn_IOFieldDataShow("VALUE_AIR_HUMIDITY", "AIR_HUMIDITY_SCR_AUTO", 0)</script>  

                <!-- TIME_MOTOR_MIX -->
                <input id="TIME_MOTOR_MIX" disabled="disabled" type="text" />
                 <script>fn_IOFieldDataShow("TIME_MOTOR_MIX_web", "TIME_MOTOR_MIX", 0)</script>  
                <!-- TIME_PUMP_1 -->
                 <input id="TIME_PUMP_1" disabled="disabled" type="text" />
                 <script>fn_IOFieldDataShow("TIME_PUMP_1_web", "TIME_PUMP_1", 0)</script>  



                <!-- NÚT NHẤN LƯU -->
                 <button id="btt_ScreenAuto_Save" onclick= "fn_Main_SaveBtt()">LƯU</button> 
                <!-- NÚT NHẤN SỬA-->
                 <button id="btt_ScreenAuto_Edit" onclick= "fn_Main_EditBtt()">SỬA</button>


                <!-- GHI DỮ LIỆU XUÔNG PLC -->
                <input id="SET_MIN_TEMPERATURE" disabled="disabled" type="text" /> 
                <script>fn_ScreenAuto_IOField_IO("SET_TEMPERATURE_MIN", "SET_MIN_TEMPERATURE", 0);</script> 

                <!-- GHI DỮ LIỆU XUÔNG PLC -->
                <input id="SET_MAX_TEMPERATURE" disabled="disabled" type="text" /> 
                <script>fn_ScreenAuto_IOField_IO("SET_TEMPERATURE_MAX", "SET_MAX_TEMPERATURE", 0);</script> 

                <!-- GHI DỮ LIỆU XUÔNG PLC -->
                <input id="SET_MAX_AIR_HUMIDITY" disabled="disabled" type="text" /> 
                <script>fn_ScreenAuto_IOField_IO("SET_AIR_HUMIDITY_MAX", "SET_MAX_AIR_HUMIDITY", 0);</script> 

                <!-- GHI DỮ LIỆU XUÔNG PLC -->
                <input id="SET_MIN_AIR_HUMIDITY" disabled="disabled" type="text" /> 
                <script>fn_ScreenAuto_IOField_IO("SET_AIR_HUMIDITY_MIN", "SET_MIN_AIR_HUMIDITY", 0);</script> 

                <!-- GHI DỮ LIỆU XUÔNG PLC -->
                <input id="SET_TIME_MOTOR_MIX" disabled="disabled" type="text" /> 
                <script>fn_ScreenAuto_IOField_IO("SET_TIME_MOTOR_MIX_web", "SET_TIME_MOTOR_MIX", 0);</script> 

                <!-- GHI DỮ LIỆU XUÔNG PLC -->
                <input id="SET_TIME_PUMP_1" disabled="disabled" type="text" /> 
                <script>fn_ScreenAuto_IOField_IO("SET_TIME_PUMP_1_web", "SET_TIME_PUMP_1", 0);</script> 

            </div> 



                                      <!-- //////////////Code cho màn hand////////////// -->
        <div id = "Screen_hand">
            <img src="images/Background_SCR_Hand.png">
                 <!--////////////// SYMBOL  //////////////-->
        <img id = "SCR_HAND_FAN" ><script> fn_SymbolStatus("SCR_HAND_FAN", "FAN", "RUN_FAN") </script> 
        <img id = "SCR_HAND_LAMP" ><script> fn_SymbolStatus("SCR_HAND_LAMP", "LAMP", "RUN_LAMP") </script> 
        <img id = "SCR_HAND_PUMP_1" ><script> fn_SymbolStatus("SCR_HAND_PUMP_1", "PUMP", "RUN_PUMP_1") </script> 
        <img id = "SCR_HAND_PUMP_2" ><script> fn_SymbolStatus("SCR_HAND_PUMP_2", "PUMP", "RUN_PUMP_2") </script> 
        <img id = "SCR_HAND_MOTOR_MIX" ><script> fn_SymbolStatus("SCR_HAND_MOTOR_MIX", "MIX", "RUN_MOTOR_MIX") </script> 
        <img id = "SCR_HAND_SENSOR" ><script> fn_SymbolStatus("SCR_HAND_SENSOR", "SENSOR",'SENSOR_LOW') </script> 
        <img id = "SCR_HAND_SYSTEM" ><script> fn_SymbolStatus("SCR_HAND_SYSTEM", "SYSTEM",'RUN_SYSTEM') </script> 

          <!--////////////// BUTTON////////////// -->

            <!-- BUTTON START_SYSTEM -->
                    <button id="bttHAND_START_SYSTEM" onclick= "socket.emit('cmd_START_SYSTEM', true);">START</button>
            <!-- BUTTON STOP_SYSTEM -->
                    <button id="bttHAND_STOP_SYSTEM" onclick= "socket.emit('cmd_STOP_SYSTEM', true);">STOP</button>
          <!-- Nút nhấn START_PUMP_1 -->
                    <button id="bttHAND_START_PUMP_1" onclick= "socket.emit('cmd_PUMP_1', true);">START</button>
          <!-- Nút nhấn STOP_PUMP_1 -->
                    <button id="bttHAND_STOP_PUMP_1" onclick= "socket.emit('cmd_PUMP_1', false);">STOP</button>
          <!-- Nút nhấn START_PUMP_2 -->
                    <button id="bttHAND_START_PUMP_2" onclick= "socket.emit('cmd_PUMP_2', true);">START</button>
          <!-- Nút nhấn STOP_PUMP_2 -->
                    <button id="bttHAND_STOP_PUMP_2" onclick= "socket.emit('cmd_PUMP_2', false);">STOP</button>           
           <!-- Nút nhấn START_LAMP -->
                    <button id="bttHAND_START_LAMP" onclick= "socket.emit('cmd_LAMP', true);">START</button>
           <!-- Nút nhấn STOP_LAMP -->
                    <button id="bttHAND_STOP_LAMP" onclick= "socket.emit('cmd_LAMP', false);">STOP</button>                    
           <!-- Nút nhấn START_LAMP -->
                    <button id="bttHAND_START_FAN" onclick= "socket.emit('cmd_FAN', true);">START</button>
           <!-- Nút nhấn STOP_LAMP -->
                    <button id="bttHAND_STOP_FAN" onclick= "socket.emit('cmd_FAN', false);">STOP</button> 
           <!-- Nút nhấn START_MOTOR_MIX -->
                    <button id="bttHAND_START_MOTOR_MIX" onclick= "socket.emit('cmd_MOTOR_MIX', true);">START</button>
           <!-- Nút nhấn STOP_MOTOR_MIX -->
                    <button id="bttHAND_STOP_MOTOR_MIX" onclick= "socket.emit('cmd_MOTOR_MIX', false);">STOP</button>    
                    
                                 <!--////////////// HIỂN THI IO FIELD////////////// -->
                 <!-- GIÁ TRỊ NHIỆT ĐỘ THỰC TẾ -->
                    <input id="TEMPERATURE" disabled="disabled" type="text" />
                    <script>fn_IOFieldDataShow("VALUE_TEMPERATURE", "TEMPERATURE", 0)</script>  
                 <!-- GIÁ TRỊ ĐỘ ẨM THỰC TẾ -->
                    <input id="AIR_HUMIDITY" disabled="disabled" type="text" />
                    <script>fn_IOFieldDataShow("VALUE_AIR_HUMIDITY", "AIR_HUMIDITY", 0)</script>  
        </div> 

                <!-- //////////////Code cho màn hình Reprt////////////// -->
                <div id = "screen_Report">


                                   <!--Table display-->
                <div id = "div_Table_01">
                    <table id="table_01" >
                        <thead>
                        <tr>
                            <th>Thời gian</th>
                            <th>data_Temperature</th>
                            <th>data_Air_Humidity</th>
                         
                        </tr>
                        </thead>
                    </table>
                </div>

                    <!--Date time piker-->
                    <label id="lb_Search_Start">Từ:</label>
                    <input id="dtpk_Search_Start" type="datetime-local">
                    <label id="lb_Search_End">Đến:</label>
                    <input id="dtpk_Search_End" type="datetime-local">
                    <!--Nút tìm kiếm-->
                    <button id="btt_Search" class="btn" onclick="fn_SQL_By_Time();
                    "></i> TÌM KIẾM</button>
                    <!--Nút Xuất Excel-->
                    <button id="btt_Excel" class="btn" onclick="fn_excel();
                    "></i> BÁO CÁO</button>

                </div> 





        </body>
</html>


