/*Màn hình chính*/
#screen_Report {
    position: absolute; 
    left: 215px; top: 11px; 
    width: 1200px; height: 686px;
    background-color: rgb(14, 238, 219); 
}

/*//////////////Hiển thị dữ liệu bảng 1 - Start/////////////////*/
#div_Table_01 {
    position: absolute; 
    left: 14px; top: 165px; 
    width: 800px; height: 500px;
    overflow-y: scroll;
}
/*Table*/
#table_01 {
    position: absolute;  
    width:100%;
}
#table_01 tr{
    cursor: pointer;
}
#table_01 tr:hover{background-color: #ddd;}
#table_01   { overflow: auto; }
#table_01 thead th { position: sticky; top: 0;  }
/* Just common table stuff. Really. */
#table_01  { border-collapse: collapse; width: 100%; }
#table_01 th, td { padding: 8px 16px; }
#table_01 th     { background:#eee; }
/*//////////////Hiển thị dữ liệu bảng 1 - end/////////////////*/


/*//////////////TRƯỜNG TÌM KIẾM DỮ LIỆU/////////////////*/
/*Lable tìm kiếm từ*/
#lb_Search_Start {
    color: rgb(26, 24, 24);   
    font-size: 14px; 
    font-weight: normal;
    position: absolute; 
    left: 15px; top: 5px;
}
/*Chọn ngày tháng bắt đầu*/
#dtpk_Search_Start {
    text-align: left; 
    position: absolute; 
    left: 15px; top: 25px; 
}

/*Lable tìm kiếm đến*/
#lb_Search_End {
    color: rgb(26, 24, 24);  
    font-size: 14px; 
    font-weight: normal;
    position: absolute; 
    left: 15px; top: 55px;
}
/*Chọn ngày tháng kết thúc*/
#dtpk_Search_End {
    text-align: left; 
    position: absolute; 
    left: 15px; top: 75px; 
}
/*Nút tìm kiếm*/
#btt_Search {
    border: none; 
    background-color: DodgerBlue; 
    color: rgb(255, 255, 255);  
    text-align: center; 
    display: inline-block;
    font-size: 11px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 105px; height: 30px; 
    left: 127px; top: 110px;
}
/*//////////////TRƯỜNG TÌM KIẾM DỮ LIỆU - END/////////////////*/

/*Nút Xuaast Excel*/
#btt_Excel {
    border: none; 
    background-color: rgb(199, 14, 14); 
    color: rgb(255, 255, 255);  
    text-align: center; 
    display: inline-block;
    font-size: 11px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 105px; height: 30px; 
    left: 250px; top: 110px;
}