/*Màn hình 1*/
#Screen_hand {
    position: absolute; 
    left: 215px; top: 11px; 
    width: 800px; height: 686px;
    background-color: rgb(15, 228, 210); 
}


/*FAN*/
#SCR_HAND_FAN {
    position: absolute; 
    left: 110px; top: 150px; 
    width: 80px; height: 80px;
}

/*LAMP*/
#SCR_HAND_LAMP {
    position: absolute; 
    left: 800px; top: 200px; 
    width: 90px; height: 90px;
}


/*PUMP_1*/
#SCR_HAND_PUMP_1 {
    position: absolute; 
    left: 870px; top: 438px; 
    width: 80px; height: 80px;
}

/*PUMP_2*/
#SCR_HAND_PUMP_2 {
    position: absolute; 
    left: 964px; top: 240px; 
    width: 70px; height: 70px;

}

/*MOTOR_MIX*/
#SCR_HAND_MOTOR_MIX {
    position: absolute; 
    left: 430px; top: 600px; 
    width: 70px; height: 70px;

}

/*SENSOR*/
#SCR_HAND_SENSOR {
    position: absolute; 
    left: 130px; top: 370px; 
    width: 85px; height: 30px;
}

/*SYSTEM*/
#SCR_HAND_SYSTEM {
    position: absolute; 
    left: 1170px; top: 450px; 
    width: 50px; height: 50px;
}

/*NÚT NHẤN START_SYSTEM*/
#bttHAND_START_SYSTEM {
    border: none; 
    background-color: rgb(51, 10, 235); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 55px; height: 30px; 
    left: 1140px; top: 400px;
}

/*NÚT NHẤN STOP_SYSTEM*/
#bttHAND_STOP_SYSTEM {
    border: none; 
    background-color: rgb(255, 0, 0); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 55px; height: 30px; 
    left: 1198px; top: 400px;
}

/*NÚT NHẤN START_PUMP_1*/
#bttHAND_START_PUMP_1 {
    border: none; 
    background-color: rgb(78, 10, 238); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 10px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 18px; 
    left: 1170px; top: 236px;
}

/*NÚT NHẤN STOP_PUMP_1*/
#bttHAND_STOP_PUMP_1 {
    border: none; 
    background-color: rgb(255, 0, 0); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 10px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 18px; 
    left: 1220px; top: 236px;
}


/*NÚT NHẤN START_PUMP_2*/
#bttHAND_START_PUMP_2 {
    border: none; 
    background-color: rgb(78, 10, 238); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 10px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 18px; 
    left: 1170px; top: 260px;
}

/*NÚT NHẤN STOP_PUMP_2*/
#bttHAND_STOP_PUMP_2 {
    border: none; 
    background-color: rgb(255, 0, 0); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 10px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 18px; 
    left: 1220px; top: 260px;
}

/*NÚT NHẤN START_LAMP*/
#bttHAND_START_LAMP {
    border: none; 
    background-color: rgb(78, 10, 238); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 10px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 18px; 
    left: 1170px; top: 285px;
}

/*NÚT NHẤN STOP_LAMP*/
#bttHAND_STOP_LAMP {
    border: none; 
    background-color: rgb(255, 0, 0); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 10px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 18px; 
    left: 1220px; top: 285px;
}

/*NÚT NHẤN START_FAN*/
#bttHAND_START_FAN {
    border: none; 
    background-color: rgb(78, 10, 238); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 10px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 18px; 
    left: 1170px; top: 310px;
}

/*NÚT NHẤN STOP_FAN*/
#bttHAND_STOP_FAN {
    border: none; 
    background-color: rgb(255, 0, 0); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 10px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 45px; height: 18px; 
    left: 1220px; top: 310px;
}


/*NÚT NHẤN START_MOTOR_MIX*/
#bttHAND_START_MOTOR_MIX {
    border: none; 
    background-color: rgb(78, 10, 238); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 9px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 40px; height: 15px; 
    left: 1190px; top: 334px;
}

/*NÚT NHẤN STOP_MOTOR_MIX*/
#bttHAND_STOP_MOTOR_MIX {
    border: none; 
    background-color: rgb(255, 0, 0); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 9px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 40px; height: 15px; 
    left: 1232px; top: 334px;
}

/*GIÁ TRỊ NHIỆT ĐỘ*/
#TEMPERATURE {
    position: absolute; 
    text-align: center;
    display: inline-block; 
    left: 1210px; top: 140px; 
    width: 40px; height: 18px;
    background-color: hsl(110, 100%, 50%); 
}

/*GIÁ TRỊ ĐỘ ẨM*/
#AIR_HUMIDITY {
    position: absolute; 
    text-align: center;
    display: inline-block; 
    left: 1210px; top: 165px; 
    width: 40px; height: 18px;
    background-color: hsl(110, 100%, 50%); 
}