/*Slide bar chính*/
#slidebar {
    position: absolute; 
    left: 5px; top: 11px; 
    width: 198px; height: 686px;
    background-color: rgb(40, 58, 107); 
}
/*Nút Màn Auto*/
#btt_Screen_auto {
    border: none; 
    background-color: rgb(233, 15, 149);  
    color: rgb(255, 255, 255);  
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: normal;
    cursor: pointer;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 22px; top: 20px;
}
/*Nút Màn Hand*/
#btt_Screen_hand {
    border: none; 
    background-color: rgb(240, 236, 11);
    border: none; color: rgb(0, 0, 0);  
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: normal;
    cursor: pointer;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 22px; top: 70px;
}

/*Nút Màn Report*/
#btt_Screen_Report {
    border: none; 
    background-color: rgb(240, 11, 11);
    border: none; color: rgb(0, 0, 0);  
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: normal;
    cursor: pointer;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 22px; top: 120px;
}